{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}
<section class="col-24">
	<h1>{{ model.title }}</h1>	
</section>

<section class="col-24">
	<section class="col-8 first">

		<div class="js-mul-tabs-example mul-tabs">
			{% include "page-tabs" %}
			<div id="tabs-1">
				<p>The Mini-filter is intended to be used in conjunction with the <a href="table-interactive">Interactive Data Table</a> when there is a small number (2-6) of common pre-defined filters to section out data.
				</p>
				
				<p>
				Essentially, this component provides users with quick access to commonly-viewed sections of data, so they aren't forced to enter multiple search criteria in order to access common views of data.
				</p>
			</div>
			<div id="tabs-2">
				<p>The Mini-Filter should be used along with an <a href="table-interactive">Interactive Data Table</a>  when you want to give the user the option to <strong>quickly filter data into common categories</strong>. 
				</p>
				<h5>Number of Items</h5>
				<p>This control should only be used when the number of pre-determined filters is less than 5-6 options. If the number of filter is higher than 6, then the component starts to occupy too much real estate and another option should be explored.
				</p>
			</div>
			<div id="tabs-3">
				<p>There are 3 main elements to this component:</p>
				<ol>
					<li><strong>Label</strong> - The actual name of the filter. The default value is "View:". Always display a colon after the label.</li>
					<li><strong>Active Filter</strong> - This is the filter that is currently being viewed. It is displayed using the "highlight" style. There is only one Active Filter at a time.</li>
					<li><strong>Inactive Filter</strong> - These are the other available filters that are not currently being displayed. They are displayed as links. The user can click an Inactive Filter link to view that specific filter. There may be one or many Inactive Filters.</li>
				</ol>
			</div>
			<div id="tabs-4">
				<p>Technical details go here&hellip;</p>
			</div>
		</div>

	</section>
	<section class="col-16">
		
		<h4 class="mul-hdr-rule">Example</h4>
		<dl class="mul-horizontal-list toggle-content-ctn">
			<dd><a href="javascript:;" class="js-mul-toggle-content" mul-data-toggle="1">Show In Context</a></dd>
		</dl>

		<!-- MINI FILTER - EXAMPLE - BEGINS -->
		<dl class="mul-mini-filter">
			<dt>View:</dt>
			<dd><a href="#">Filter 1</a></dd>
			<dd><a href="javascript:;" class="active">Active Filter 2</a></dd>
			<dd class="last-child"><a href="#">Filter 3</a></dd>
		</dl>
		<!-- MINI FILTER - EXAMPLE - ENDS -->

		<!-- INTERACTIVE DATA TABLE - EXAMPLE - BEGINS -->
		<div class="js-mul-toggle-content mul-display-none col-24 first mul-margin-top" id="div1">
			
			<table class="mul-table mul-footable mul-table-pagination mul-table-borders mul-table-striped mul-table-hover" data-filter="#filter" data-page-navigation=".pagination" data-page-size="5" id="" border="0" cellpadding="0" cellspacing="0" title="" summary="">
				<caption>
					<div class="col-19 first">
						<dl class="mul-mini-filter">
							<dt>View:</dt>
							<dd><a href="javascript:;">Filter 1</a></dd>
							<dd><a href="javascript:;" class="active">Active Filter 2</a></dd>
							<dd class="last-child"><a href="javascript:;">Filter 3</a></dd>
						</dl>
					</div>
					<div class="col-5 mul-tbl-data-filter">
						<input id="filter" type="text" placeholder="Filter">
					</div>
				</caption>
				<thead>
					<tr>
						<th class="col-10" scope="col"><a href="javascript:;">First Name</a></th>
						<th class="col-10" scope="col"><a href="javascript:;">Clients</a></th>
						<th class="col-4 mul-align-right" scope="col"><a href="javascript:;">Policies</a></th>
					</tr>
				</thead>
				<tbody>
					
					{% for item in global.table_data %}
					<tr>
						<td>{{ item.first_name }}</td>
						<td>{{ item.company }}</td>
						<td class="mul-align-right">{{ item.num_of }}</td>
					</tr>
					{% endfor %}

				</tbody>
				<tfoot>
					<tr class="mul-subtotal-row">
						<td class="mul-align-right" colspan="2">Subtotal</td>
						<td class="mul-align-right">23</td>
					</tr>
					<tr class="mul-total-row">
						<td class="mul-align-right" colspan="2">Total</td>
						<td class="mul-align-right">23</td>
					</tr>
				</tfoot>
			</table>

		</div>
		<!-- INTERACTIVE DATA TABLE - EXAMPLE - ENDS -->

		<!-- GET CODE - BEGINS
		<div class="col-24">
			<div class="col-24 get-code-btn-ctn">
				{% include "get-code-button" %}
			</div>

			<div class="col-24 js-mul-toggle-content mul-display-none" id="div1">

				<h4 class="mul-hdr-rule">HTML</h4>

<pre class="prettyprint linenums">

</pre>

			</div>

		</div>
		GET CODE - ENDS -->

	</section>
</section>
{% endblock %}