{% block title %}{{ model.title }} : {{ global.site_title }}{% endblock %}
{% block content %}
<section class="col-24">
	<h1>{{ model.title }}</h1>	
</section>

<section class="col-24">
	<section class="col-8 first">

		<div class="js-mul-tabs-example mul-tabs">
			{% include "page-tabs" %}
			<div id="tabs-1">
				<p>Pagination allows user to scroll through multiple pages of content breaking longer pages into multiple shorter pages. This control is intended to be used in conjunction with the <a href="table-static">Static Data Table</a>, the <a href="table-interactive">Interactive Data Table</a>, and content pages.</p>
			</div>
			<div id="tabs-2">
				<p>Pagination is used when the results on a page would require the user to scroll through an excessive amount of data. Typically, when more than 50 results are on a page (configurable) we will use Pagination. In certain instances (TBD), <a href="comp-infinite-scroll">Infinite Scroll</a> would be used.</p>
				<p>We will also use <a href="mini-filter">Mini Filter</a> which will offer the users different content filters that organize and display the data by specific categories or attributes. This allows users to only see content that matters to them without getting overwhelmed.</p>
				<p>The user can also use <a href="table-quick-filter">Quick Filter/Autocomplete</a> to find and select from a pre-populated list of values as they type. By entering more characters, the user can filter down the list to better matches.</p>
			</div>
			<div id="tabs-3">
				<strong>Components</strong>
				<ol>
					<li><strong>Number of results: (Need PoC)</strong> Displays the total number of results, and the current set of results being viewed. Example: "Displaying 1-50 of 125 results.</li> 
					<li><strong>Previous and Next links:</strong> <code>&lt;</code> and <code>&gt;</code> icons will indicate Previous and Next.</li>
					<li><strong>First Page and Last Page:</strong> <code>&laquo;</code> and <code>&raquo;</code> indicate back to the first page, forward to the last page.</li>
				</ol>
				<strong>Placement</strong>
				<ul>
					<li>Pagination control should be placed below the grid of results.</li> 
					<li>In some cases, it will make sense to provide pagination controls above and below the data grid to ensure that the controls are always visible.</li>
				</ul>
				<strong>Accessibility</strong>
				<ul>
					<li>Allow each link to be navigated to with the Tab key, and when an individual link has keyboard focus, hitting the Enter key should navigate to the linked page.</li>
				</ul>
				<strong>Visual Design</strong>
				<ul>
					<li>Current page should be visually highlighted.</li> 
					<li>Target areas should be decent size.</li>
				</ul>
			</div>
			<div id="tabs-4">
				{% include "table-navbar" %}
			</div>
		</div>

	</section>
	<section class="col-16">

		<h4 class="mul-hdr-rule">Example</h4>

		<div class="col-24 mul-margin-bottom">
			<div class="col-9 first">
				<h5 class="pagination-hdr">User is on page 1:</h5>
			</div>
			<div class="col-15">

				<!-- PAGINATION - EXAMPLE - BEGINS -->
				<div class="mul-pagination">
					<ul>
						<li class="active"><a href="#" title="Current Page">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#" title="Next &gt;"><span class="mul-pagination-icon mul-next-page-icon"></span></a></li>
						<li><a href="#" title="Last Page &raquo;"><span class="mul-pagination-icon mul-last-page-icon"></span></a></li>
					</ul>
				</div>
				<!-- PAGINATION - EXAMPLE - ENDS -->

			</div>
		</div>

		<div class="col-24 mul-margin-bottom">
			<div class="col-9 first">
				<h5 class="pagination-hdr">User is on page 2:</h5>
			</div>
			<div class="col-15">

				<!-- PAGINATION - EXAMPLE - BEGINS -->
				<div class="mul-pagination">
					<ul>
						<li><a href="#" title="&laquo; First Page"><span class="mul-pagination-icon mul-first-page-icon"></span></a></li>
						<li><a href="#" title="&lt; Previous"><span class="mul-pagination-icon mul-prev-page-icon"></span></a></li>
						<li><a href="#">1</a></li>
						<li class="active"><a href="#" title="Current Page">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#" title="Next &gt;"><span class="mul-pagination-icon mul-next-page-icon"></span></a></li>
						<li><a href="#" title="Last Page &raquo;"><span class="mul-pagination-icon mul-last-page-icon"></span></a></li>
					</ul>
				</div>
				<!-- PAGINATION - EXAMPLE - ENDS -->

			</div>
		</div>

		<div class="col-24 mul-margin-bottom">
			<div class="col-9 first">
				<h5 class="pagination-hdr">User is on page 5:</h5>
			</div>
			<div class="col-15">

				<!-- PAGINATION - EXAMPLE - BEGINS -->
				<div class="mul-pagination">
					<ul>
						<li><a href="#" title="&laquo; First Page"><span class="mul-pagination-icon mul-first-page-icon"></span></a></li>
						<li><a href="#" title="&lt; Previous"><span class="mul-pagination-icon mul-prev-page-icon"></span></a></li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li class="active"><a href="#" title="Current Page">5</a></li>
						<li><a href="#" title="Next &gt;"><span class="mul-pagination-icon mul-next-page-icon"></span></a></li>
						<li><a href="#" title="Last Page &raquo;"><span class="mul-pagination-icon mul-last-page-icon"></span></a></li>
					</ul>
				</div>
				<!-- PAGINATION - EXAMPLE - ENDS -->

			</div>
		</div>

		<div class="col-24 mul-margin-bottom">
			<div class="col-9 first">
				<h5 class="pagination-hdr">User is on page 6:</h5>
			</div>
			<div class="col-15">

				<!-- PAGINATION - EXAMPLE - BEGINS -->
				<div class="mul-pagination">
					<ul>
						<li><a href="#" title="&laquo; First Page"><span class="mul-pagination-icon mul-first-page-icon"></span></a></li>
						<li><a href="#" title="&lt; Previous"><span class="mul-pagination-icon mul-prev-page-icon"></span></a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li class="active"><a href="#" title="Current Page">6</a></li>
						<li><a href="#" title="Next &gt;"><span class="mul-pagination-icon mul-next-page-icon"></span></a></li>
						<li><a href="#" title="Last Page &raquo;"><span class="mul-pagination-icon mul-last-page-icon"></span></a></li>
					</ul>
				</div>
				<!-- PAGINATION - EXAMPLE - ENDS -->

			</div>
		</div>

		<div class="col-24 mul-margin-bottom">
			<div class="col-9 first">
				<h5 class="pagination-hdr">User click on last page icon:</h5>
			</div>
			<div class="col-15">

				<!-- PAGINATION - EXAMPLE - BEGINS -->
				<div class="mul-pagination">
					<ul>
						<li><a href="#" title="&laquo; First Page"><span class="mul-pagination-icon mul-first-page-icon"></span></a></li>
						<li><a href="#" title="&lt; Previous"><span class="mul-pagination-icon mul-prev-page-icon"></span></a></li>
						<li><a href="#">20</a></li>
						<li><a href="#">21</a></li>
						<li><a href="#">22</a></li>
						<li><a href="#">23</a></li>
						<li class="active"><a href="#" title="Current Page">24</a></li>
					</ul>
				</div>
				<!-- PAGINATION - EXAMPLE - ENDS -->

			</div>
		</div>

		<div class="col-24 mul-margin-bottom">
			<div class="col-9 first">
				<h5 class="pagination-hdr">When there are fewer than 5 pages:</h5>
			</div>
			<div class="col-15">

				<!-- PAGINATION - EXAMPLE - BEGINS -->
				<div class="mul-pagination">
					<ul>
						<li class="active"><a href="#" title="Current Page">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#" title="Next &gt;"><span class="mul-pagination-icon mul-next-page-icon"></span></a></li>
						<li><a href="#" title="Last Page &raquo;"><span class="mul-pagination-icon mul-last-page-icon"></span></a></li>
					</ul>
				</div>
				<!-- PAGINATION - EXAMPLE - ENDS -->

			</div>
		</div>

		<div class="col-24 mul-margin-bottom">
			<div class="col-9 first">
				<h5 class="pagination-hdr">When on last page with less than 5 pages:</h5>
			</div>
			<div class="col-15">

				<!-- PAGINATION - EXAMPLE - BEGINS -->
				<div class="mul-pagination">
					<ul>
						<li><a href="#" title="&laquo; First Page"><span class="mul-pagination-icon mul-first-page-icon"></span></a></li>
						<li><a href="#" title="&lt; Previous"><span class="mul-pagination-icon mul-prev-page-icon"></span></a></li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li class="active"><a href="#" title="Current Page">3</a></li>
					</ul>
				</div>
				<!-- PAGINATION - EXAMPLE - ENDS -->

			</div>
		</div>

		<hr />
		
		<!-- TABLE PAGINATION - EXAMPLE - BEGINS -->
		<small class="mul-table-results-label">Displaying 1-50 of 125 results.</small>
		<table class="mul-table mul-footable mul-table-pagination mul-table-borders mul-table-striped mul-table-hover" data-filter="#filter" id="" border="0" cellpadding="0" cellspacing="0" title="" summary="">
			<caption>
				<div class="col-19 first">
					<dl class="mul-mini-filter">
						<dt>View:</dt>
						<dd><a href="javascript:;">Filter 1</a></dd>
						<dd><a href="javascript:;" class="active">Active Filter 2</a></dd>
						<dd class="last-child"><a href="javascript:;">Filter 3</a></dd>
					</dl>
				</div>
				<div class="col-5 mul-tbl-data-filter">
					<input id="filter" type="text" placeholder="Filter">
				</div>
			</caption>
			<thead>
				<tr>
					<th class="col-1" scope="col"></th>
					<th class="col-6" scope="col"><a href="javascript:;">Task</a></th>
					<th data-sort-initial="ascending" class="col-2" scope="col"><a href="javascript:;">Type</a></th>
					<th class="col-8" scope="col">
						<a href="javascript:;">Client</a> |
						<a href="javascript:;">Location</a>
					</th>
					<th class="col-4" scope="col"><a href="javascript:;">Assigned To</a></th>
					<th class="col-3 mul-nowrap mul-align-right" scope="col"><a href="javascript:;">Start Date</a></th>
					<th class="col-3 mul-nowrap mul-align-right" scope="col"><a href="javascript:;">End Date</a></th>
				</tr>
			</thead>
			<tbody>

				{% for item in global.table_data %}
				<tr>
					<td>{{ item.checkbox }}</td>
					<td>{{ item.task }}</td>
					<td>{{ item.type_global }}</td>
					<td>
						<a href="javascript:;">{{ item.company }}</a> |
						{{ item.location}}
					</td>
					<td>
						{{ item.abbrev_first_name}} {{ item.last_name}}
					</td>
					<td class="mul-nowrap mul-align-right">{{ item.start_date }}</td>
					<td class="mul-nowrap mul-align-right">{{ item.end_date }}</td>
				</tr>
				{% endfor %}
				
			</tbody>
			<tfoot>
				<tr class="mul-pagination-row">
					<td colspan="7">

						<!-- PAGINATION - EXAMPLE - BEGINS -->
						<div class="mul-pagination">
							<ul>
								<li class="active"><a href="#" title="Current Page">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#" title="Next &gt;"><span class="mul-pagination-icon mul-next-page-icon"></span></a></li>
								<li><a href="#" title="Last Page &raquo;"><span class="mul-pagination-icon mul-last-page-icon"></span></a></li>
							</ul>
						</div>
						<!-- PAGINATION - EXAMPLE - ENDS -->

					</td>
				</tr>
			</tfoot>
		</table>
		<!-- TABLE PAGINATION - EXAMPLE - ENDS -->

		<!-- GET CODE - BEGINS
		<div class="col-24">
			<div class="col-24 get-code-btn-ctn">
				{% include "get-code-button" %}
			</div>

			<div class="col-24 js-mul-toggle-content mul-display-none" id="div1">

				<h4 class="mul-hdr-rule">HTML</h4>
				<p>Put any content you want in here.</p>

<pre class="prettyprint linenums">

</pre>

				<h4 class="mul-hdr-rule">JS</h4>
				<p>Put any content you want in here.</p>

<pre class="prettyprint linenums">

</pre>

			</div>

		</div>
		GET CODE - ENDS -->

	</section>
</section>
{% endblock %}